
<!DOCTYPE HTML>
<html>
  <head>
    <meta content='text/html' charset='UTF-8' /> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Avito Price Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   
  </head>
  
  <body>
    <div class="cotainer-fluid">
     <div class="row">
       <div class="col-12 col-sm-4 mx-auto">
        <div class="text-center border rounded mx-auto" width='300px' style='padding:20px;margin-top:30px;'>
          <h5> {{.msg}} </h5>
     </div>
    </div>
  </body>
</html>
